<%- include('partials/header'); -%>

<header>
  <div class="avengers">
    <img src="/avengers1.jfif" alt="">
  </div>
  <div class="headings">
    <h2>Avengers Assemble</h2>
    <h3>Buy Avengers toys</h3>
    >
  </div>
</header>


<%- include('partials/footer'); -%>